@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}


/* header part */

header{
    width: 100%;
    height: 800px;
    background-image: url('images/banner/banner2.png');
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.head_content{
    width: 500px;
    margin-right: 200px;
    text-align: right;
}
.head_content>h2{
    font-size: 55px;
    margin-bottom: 30px;
}
.head_content>p{
    padding-left:30px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #484848;
}
.head_btn{
    background-color: #F15B22;
    border: none;
    padding: 15px 20px;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* My failures of previous year style */

.failures{
    margin: 150px 210px;
    display: flex;
    justify-content: space-around;
    gap: 80px;
}
.failures>img{
    width: 800px;
}
.fail_content{
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.fail_title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}
.fail_desc{
    margin-bottom: 25px;
    line-height: 25px;
    padding-right: 15px;
}
/* .fail_features{

} */
.fail_features>p{
    margin-bottom: 15px;
}
.tick{
    color: rgb(38, 212, 58);
}


/* plan style */

.plans{
    margin: 0 250px;
    text-align: center;
}
.plans_title{
    font-size: 40px;
    margin-bottom: 70px;
}
.plan_content{
    display: flex;
    justify-content: space-around;
}
.plan_part>h4{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}
.plan_part>p{
    font-size: 20px;
}

/* contact style */

.bonus{
    margin: 120px 300px;
}

.contact{
    margin: 10 auto;
    background-image:  url('images/gradient2.png'), url('images/watch.png');
    height: 250px;
    /* background-position: center; */
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contact_div{
    width: 400px;

}
.contact_title{ 
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 30px;
}
.btn_call{
    padding: 12px 30px;
    color: #F15B22;
    background-color: #ffffff;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 2.5px;
    cursor: pointer;
}

.btn_call:hover{
    background-color: #cec9c9ac;
    color: #ffffff;
}

/* About Style */
.about{
    margin: 100px 200px;
    text-align: center;
}
.about_title{
    font-size: 40px;
    margin-bottom: 50px;
}
.about_part{
    display: flex;
    justify-content: space-around;
}
.about_contain{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #838383;
}
.about_contain>img{
    width: 300px;
}
.about_details{
   margin-bottom: 12px;
}
.about_details>h3{
    font-size: 18px;
    margin-bottom: 5px;
}
.about_details>p{
    font-size: 18px;
    color: #838383;
}



/* footer */
footer{
    background-color: black;
    color: #ffffff;
    height: 300px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    padding: 100px 200px;
}
.footer_contain{
    padding: 0 120px;
}
/* footer left */
.footer_contain>h4{
    font-size: 40px;
    margin-bottom: 20px;
}
.footer_contain>p{
    margin-bottom: 25px;
}
.footer_contain img{
    margin-top: 15px;
    margin-right: 15px;
}
/* footer right */
.footer_contain>h6{
    font-size: 25px;
    margin-bottom: 30px;
}

.footer_contain>input::placeholder{
    color: #ffffff;
}
.footer_contain>input{
    width: 250px;
    height: 40px;
    padding-left: 10px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
    margin-bottom: 30px;
}